parameters:
    level: 9
    scanDirectories:
        - dev-stubs
    paths:
        - src
    excludePaths:
        - vendor
    ignoreErrors:
        # Allow dynamic return types from container
        - '#Dynamic call to static method#'
    reportUnmatchedIgnoredErrors: false
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'